_site
_site/*
_posts/2016-10-18-very-long-title-post.md
_posts/2019-03-08-markdown-syntax.md
_posts/write.todo
.sass-cache
.sass-cache/*
.idea
.idea/*
.DS_Store
.DS_Store/*
.jekyll-metadata
.jekyll-metadata/*

# draft
# assets/images/posts/may-cai-bai-toan/
_posts/*.draft.md
