_site
_site/*
_posts/2016-10-18-very-long-title-post.md
_posts/2019-03-08-markdown-syntax.md
.sass-cache
.sass-cache/*
.idea
.idea/*
.DS_Store
.DS_Store/*
.jekyll-metadata
.jekyll-metadata/*

# draft
assets/images/posts/lap-trinh-bat-dau-tu-dau.jpg
_posts/2020-02-15-lap-trinh-bat-dau-tu-dau.md
