.container {
  margin-bottom: 3.2rem;
}

.hero {
  margin-bottom: 2rem;
  border-radius: 0.375rem;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

.image {
  display: block;
  width: 100%;
  user-select: none;
}

.title {
  margin-bottom: 2.25rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin: 0.5rem 0 0.25rem;
}

.tags {
  display: flex;
  gap: 0.5rem;
}

.tag {
  display: block;
  background-color: var(--gray-100);

  color: var(--gray-600);
  font-weight: 500;

  border-radius: 1px;
  padding: 1px 4px;
}

.tag::before {
  content: "#";
}

.back {
  display: inline-block;
  margin-bottom: 1.5rem;

  color: var(--gray-600);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.24s ease;
}

.back:hover {
  padding-right: 4px;
  transform: translateX(-4px);
}

.date {
  color: var(--gray-600);
}
