<footer class="c-page__footer">
	<hr>
	<div class="copyright">
    <p>&copy; {{ site.author }} {{ 'now' | date: '%Y' }}</p>
  </div>
  <div class="links">
    <p class="socials">
      {% if site.facebook_username %}<a href="https://fb.me/{{ site.facebook_username }}"><img src="/assets/icons/facebook.svg" class="icon" /></a>{% endif %}
      {% if site.instagram_username %}<a href="https://instagram.com/{{ site.instagram_username }}"><img src="/assets/icons/instagram.svg" class="icon" /></a>{% endif %}
      {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}"><img src="/assets/icons/twitter.svg" class="icon" /></a>{% endif %}
      {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}"><img src="/assets/icons/github.svg" class="icon" /></a>{% endif %}
    </p>
  </div>
</footer>
