<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <meta name="application-name" content="{{ site.title }}">
  <meta name="msapplication-TileColor" content="#1366E9">
  <meta name="theme-color" content="#ffffff">

  <!-- OpenGraph Tags -->
  <meta key="og:url" property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <meta key="og:type" property="og:type" content="{% if page.title %}article{%else%}website{% endif %}">

  <meta key="title" name="title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
  <meta key="og:title" property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
  {% if page.description %}
  <meta key="description" name="description" content="{{ page.description }}">
  <meta key="og:description" property="og:description" content="{{ page.description }}">
  {% endif %}
  {% if page.previewImage %}
  <meta key="image" name="image" content="{{ page.previewImage | prepend: site.baseurl | prepend: site.url }}">
  <meta key="og:image" property="og:image" content="{{ page.previewImage | prepend: site.baseurl | prepend: site.url }}">
  {% else %}
  <meta key="image" name="image" content="{{ '/assets/images/posts/blank.jpg' | prepend: site.baseurl | prepend: site.url }}">
  <meta key="og:image" property="og:image" content="{{ '/assets/images/posts/blank.jpg' | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% include amplinking.html %}
  {% include googleanalytics.html %}

  <meta property="fb:app_id" content="467708270601926" />
</head>
