<header class="c-page__header">
  <div class="header-content">
    <h1>
      {% if page.title == 'Home' %}
      {{ site.description }}
      {% else %}
      {{ page.title }}
      {% endif %}
    </h1>
    {% if page.title == 'Home' %}
      <p>
        <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
        <span class="u-separate"></span>
        <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
        <span class="u-separate"></span>
        <a href="https://ko-fi.com/monodyle" target="_blank">☕ Buy me a coffee</a>
      </p>
    {% else %}
      <p>
        <a href="{{ "/" | prepend: site.baseurl }}" class="back">&lt;&ndash; Back</a>
      </p>
    {% endif %}
  </div>
  {% if page.previewImage %}
  <div class="header-image" style="background-image: url('{{ page.previewImage }}')"></div>
  {% endif %}
</header>
