article {
  @apply pt-5 mx-auto text-xl break-words;

  & h1,
  & h2,
  & h3 {
    @apply font-bold leading-tight;
  }

  & h2,
  & h3 {
    & svg {
      @apply hidden;
    }

    @screen desktop {
      & a:hover {
        @apply border-b border-black;

        & + svg {
          @apply inline-block ml-2;
        }
      }
    }
  }

  & h1 {
    @apply text-2xl;

    @screen tablet {
      @apply text-4xl;
    }

    @screen desktop {
      @apply text-5xl;
    }
  }

  & h2 {
    @apply mt-8 text-2xl;

    @screen tablet {
      @apply text-3xl;
    }

    @screen desktop {
      @apply text-4xl;
    }
  }

  & h3 {
    @apply mt-8 text-lg;

    @screen tablet {
      @apply text-xl;
    }

    @screen desktop {
      @apply text-2xl;
    }
  }

  & p,
  & li,
  & em {
    @apply mt-4 leading-relaxed;
  }

  & ol {
    @apply pl-6 mt-4 list-decimal list-inside;
  }

  & ul {
    @apply mt-4 list-disc list-inside;
  }

  & li {
    @apply mt-1;
  }

  & pre {
    font-size: 13.5px;
    word-spacing: normal;
    tab-size: 2;
    hyphens: none;
    @apply relative font-mono font-medium text-left;

    & code::before,
    & code::after {
      display: none;
    }
  }

  & code {
    @apply text-dark-gray;
    font-family: inherit;

    &::before,
    &::after {
      content: "`";
    }
  }

  & a > code {
    @apply text-primary;
  }

  & blockquote {
    @apply py-4 pl-8 mt-4 mb-8 -ml-4 -mr-20 font-serif;

    & > *:first-child {
      @apply m-0;
    }

    & p {
      @apply text-3xl;
    }
  }

  & video {
    @apply my-10;
  }

  & > strong,
  & > em {
    display: block;
  }

  & .tag-group .tag::before {
    @apply font-bold text-mid-gray;
    content: "#\2009";
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply relative font-semibold;
    &::before {
      content: "#";
      @apply mr-2 -ml-8 font-mono text-2xl font-bold align-middle text-mid-gray;
    }
    & a:hover {
      @apply border-b-0;
    }
  }

  & table {
    @apply block w-full overflow-auto border-collapse;
    border-spacing: 0;
    & tr {
      @apply bg-white border-t border-mid-gray;
    }
    & tr:nth-child(2n) {
      @apply bg-light-gray;
    }
    & td,
    & th {
      @apply px-4 py-2 border border-mid-gray;
    }
    & th {
      @apply px-4 py-2 font-semibold border-mid-gray;
    }
  }

  & img.emoji {
    @apply inline-block w-6;
  }

  & .note {
    @apply py-3 pl-6 pr-4 mt-4 text-sm border-l-2 rounded bg-light-gray text-dark-gray;
    & p:first-child > strong {
      @apply text-base;
    }
  }

  & hr {
    @apply my-10;
  }
}
