@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@font-face {
  font-family: "JetBrains";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/jetbrains/JetBrainsMono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/jetbrains/JetBrainsMono-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/jetbrains/JetBrainsMono-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/jetbrains/JetBrainsMono-Medium-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/jetbrains/JetBrainsMono-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/jetbrains/JetBrainsMono-Bold-Italic.woff2") format("woff2");
}
