@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('./fonts.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#__next {
  @apply h-full;
}

html,
body {
  @apply overflow-x-hidden font-mono bg-light-muted text-dark;
}

.container {
  max-width: 1440px;
}

.rainbown {
  @apply text-dark;
}

.rainbown:hover {
  color: hsla(0, 0%, 100%, 0);
  background: linear-gradient(
    110.78deg,
    #76e650 -1.13%,
    #f9d649 15.22%,
    #f08e35 32.09%,
    #ec5157 48.96%,
    #ff18bd 67.94%,
    #1a4bff 85.34%,
    #62d8f9 99.57%
  );
  background-clip: text;
}
