:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  @apply border-solid;
  border-width: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  /* Prevent adjustments of font size after orientation changes in iOS. */
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "cpsp", "frac", "salt", "ss02", "calt", "liga", "kern";
  @apply font-sans antialiased;

  ::selection {
    @apply bg-columbia;
  }
}

body {
  margin: 0;
}

img,
svg,
video,
iframe {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input,
select,
textarea {
  appearance: none;
  border-radius: 0;
  font-family: inherit;
  font-feature-settings: inherit;

  &:focus {
    outline: none;
  }

  &:invalid {
    box-shadow: none;
  }
}

@supports (font-variation-settings: normal) {
  html,
  input,
  select,
  textarea {
    @apply font-sans;
  }
}
