.archive-row {
  margin-bottom: 14px;
  position: relative;
  .archive-metadata {
    font-size: 0.8em;
    color: var(--grey);
  }
  .archive-title {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 5px;
  }
}
