.layout-styled{
    position: relative;
    background: var(--background-color);
    -webkit-transition: var(--color-mode-transition);
    -o-transition: var(--color-mode-transition);
    transition: var(--color-mode-transition);
    min-height: 100vh;
}

.sidebar-nav-item {
  display: inline-block;
  padding-left: 10px;
  color: var(--secondary);
  &:visited {
    color: var(--secondary);
  }
  /*TABLET*/
  @media screen and (max-width: $tablet){
    display: none;
  }
}
