.ground {
  @apply w-[calc(100%+1440px)] h-full;
  @apply bg-repeat-x;
  @apply ml-[-1440px];
  background-image: url('/illustration/ground.svg');
  animation: bg-forward 96s linear infinite;
}

.cloud {
  @apply absolute top-0 left-0 w-[calc(100%+1440px)] h-full;
  @apply bg-repeat-x;
  @apply ml-[-1440px];
  background-image: url('/illustration/cloud.svg');
  animation: bg-forward 256s linear reverse infinite;
}

.sun {
  @apply absolute top-0 left-1/3;
  @apply w-6 h-6;
  @apply transform;
  background-image: url('/illustration/sun.svg');
  animation: sun 36s linear infinite;
}

.me {
  @apply absolute left-1/2;
  @apply transform -translate-x-1/2;
  @apply text-2xl;
  top: 72px;
}

.me::before {
  content: 'On my way\ato get rich';
  @apply absolute transform -translate-x-1/2 left-1/2 -top-6;
  @apply block text-center whitespace-pre max-w-max;
  @apply leading-3 text-center;
  font-size: 9px;
  text-shadow: 0 0 12px rgba(248, 248, 248, 0.64), 0 0 4px rgb(248, 248, 248),
    0 0 4px rgb(248, 248, 248);
}

@keyframes sun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes bg-forward {
  from {
    background-position: left 1440px top 0;
  }
  to {
    background-position: left 0 top 0;
  }
}

@keyframes bg-forward {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1440px);
  }
}
