@import "modern-normalize/modern-normalize.css";
@import "./fonts/inter/inter.css";
@import "./fonts/ia-writer/ia-writer.css";
@import "./fonts/dela-gothic-one/dela-gothic-one.css";
@import "./fonts/judson/judson.css";
@import "./prism.css";
@import url("https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/katex.min.css");

html {
  --background: #f3f4f6;
  --background-rgb: 243, 244, 246;
  --text: #1b1d22;

  --gray-0: #f3f4f6;
  --gray-100: #e7e9ee;
  --gray-200: #d0d3dd;
  --gray-300: #b8bdcb;
  --gray-400: #a1a7ba;
  --gray-500: #8991a9;
  --gray-600: #6e7487;
  --gray-700: #525765;
  --gray-800: #454955;
  --gray-900: #373a44;
  --gray-1000: #1b1d22;

  --sans: "Inter", sans-serif;
  --monospace: "iA Writer Duospace", monospace, monospace;
  --serif: "Judson", "Palatino Linotype", serif;
  --display: "Dela Gothic One";
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--monospace);
}

.rainbown {
  color: var(--text);
}

.rainbown:hover {
  color: hsla(0, 0%, 100%, 0);
  background: linear-gradient(
    110.78deg,
    hsl(105, 75%, 61%) -1.13%,
    hsl(48, 94%, 63%) 15.22%,
    hsl(29, 86%, 57%) 32.09%,
    hsl(358, 80%, 62%) 48.96%,
    hsl(317, 100%, 55%) 67.94%,
    hsl(227, 100%, 55%) 85.34%,
    hsl(193, 93%, 68%) 99.57%
  );
  -webkit-background-clip: text;
  background-clip: text;
}
