$text: #24292e;
$gray-400: #5C6E74;
$gray-300: #697B82;
$gray-200: #869395;
$gray-100: #96A0A0;
$light: #EDE7D6;
$white: #FCF5E4;

$primary: #1366e9;
$green: #8BE367;

$sans-serif: 'Source Sans Pro', sans-serif;
$monospace: "Cascadia", monospace;

// Breakpoints
$sm: 45rem; // 450px

// Misc
$border-1: 1px solid $light;
