{{ define "main" }}
<Section class="section" relative id="Articles__Hero">
  <div class="heading-container">
    <h1 class="hero-heading"></h1>
  </div>
</Section>

<section class="section narrow">
  <div id="archivesList" class="archives-list-container show-details">
    {{ range .Pages }}
    <div class="archive-row">
      <div class="archive-data">
        <div class="archive-metadata">
          {{ .Date.Format "January 2, 2006" }} • {{ .ReadingTime }} min read
        </div>
        <a href="{{ .RelPermalink }}" class="archive-link">
          <div class="archive-title">
            {{ .Params.title }}
          </div>
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
