.container {
  display: flex;
  justify-items: center;
  justify-content: flex-start;

  gap: 32px;
  padding-top: 64px;
  margin-bottom: 64px;
}

.info {
  flex: 1 1 0%;
  padding: 0 2rem;
}

.heading {
  margin-top: 0;

  font-size: 1.25rem;
  line-height: 2.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: var(--display);
}

.break {
  height: 2rem;
}

.emailLabel {
  margin-bottom: 1.5rem;
  transform: rotate(-2.5deg);
}

.email {
  font-size: 1.25rem;
  line-height: 2.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: var(--display);
  text-decoration: none;
}

.socialLabel {
  transform: rotate(2deg);
}

.socials {
  display: flex;
  flex-wrap: wrap;
}

.socialLink {
  font-size: 1.25rem;
  line-height: 2.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: var(--display);
  text-decoration: none;
}

.socialBreak {
  width: 3rem;
  height: 1rem;
}
