.container {
  border-radius: 8px;
  margin-bottom: 64px;

  border: 1px solid var(--gray-700);
  box-shadow: 3px 3px 0 var(--gray-700);
}

.entry {
  display: flex;
  padding: 64px;
}

.detail {
  flex: 1 1 0%;
  padding-right: 120px;
}

.name {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--display);
  text-transform: uppercase;
}

.info {
  line-height: 150%;
}

.illustration {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100px;
}

.ground {
  width: calc(100% + 900px);
  height: 100%;
  background-repeat: repeat-x;

  margin-left: -900px;
  background-size: auto 100%;

  background-image: url('/illustration/ground.svg');
  animation: bg-forward 96s linear infinite;
}

.cloud {
  display: absolute;
  top: 0;
  left: 0;

  width: calc(100% + 900px);
  height: 100%;
  margin-left: -900px;

  background-repeat: repeat-x;
  background-image: url('/illustration/cloud.svg');
  animation: bg-forward 256s linear reverse infinite;
}

.sun {
  position: absolute;
  top: 0;
  left: 33%;
  width: 0.9375rem;
  height: 0.9375rem;
  background-image: url('/illustration/sun.svg');
  background-size: cover;
  animation: sun 36s linear infinite;
}

.me {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 48px;
}

@keyframes sun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes bg-forward {
  from {
    background-position: left 900px top 0;
  }
  to {
    background-position: left 0 top 0;
  }
}

@keyframes bg-forward {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(900px);
  }
}
