.c-article {
  margin-bottom: 10rem; // 100px
}

.c-article__header {
  margin-bottom: 5rem; // 50px
  font-family: $monospace;
  font-size: 1.25rem;

  @media screen and (min-width: $mobile) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  /*
  .c-article__tags {
    .c-article__tag {
      display: inline-block;
      background-color: $light;
      padding: 0px 4px;
      border-radius: 2px;
    }
  }
  */

}

.c-article__title {
  @include fs--heading-1;
  color: $text;
}

.c-article__time {
  @include fs--body;
  color: $gray-400;
}

.c-article__main {
  margin-bottom: 5rem;
  line-height: 1.8;
  font-size: 1.8rem;
  color: $text;

  > * {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 3rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.25;
    border-bottom: $border-1;
  }

  h2 {
    @include fs--heading-2;
  }

  h3 {
    @include fs--heading-3;
  }

  h4 {
    @include fs--heading-4;
  }

  h5 {
    @include fs--body;
  }

  strong {
    color: $text;
    font-weight: 600;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0.5rem 0 0.5rem 1.8rem;
    border-left: 2px solid #eff1f3;
    font-family: $serif;
    font-size: 2rem;
    @media screen and (min-width: $desktop) {
      padding: 1rem 0 1rem 2rem;
      border-left: 3px solid #eff1f3;
      margin: 0 -14rem 2rem -2rem;
      font-size: 3rem;
    }
  }

  ul,
  ol {
    margin-left: 3rem;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: 100%;
    overflow: auto;
    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;
    }
    tr:nth-child(2n) {
      background-color: #f6f8fa;
    }
    td, th {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
    th {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
      font-weight: 600;
    }
  }

  sup .footnote {
    padding: 0 2px;
    font-size: .8em;
    &::before {
      content: "[";
      font-size: .85em;
    }
    &::after {
      content: "]";
      font-size: .85em;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  mark {
    display: inline-block;
    padding: 0 4px;
    background-color: #ffe8a2;
  }

  kbd {
    font-family: $monospace;
    font-size: 1.5rem;
    color: #6a737d;
  }
}

.c-tag {
  font-family: $monospace;
  margin-right: 1rem;
  position: relative;
  white-space: nowrap;
  line-height: 1.5;
  font-size: 1.5rem;
  color: $text;

  &:before {
    color: $gray-200;
    content: '#\2009';
  }
}

.article-body {
  word-wrap: break-word;
  hyphens: auto;
  code {
    font-size: 1.6rem
  }
  .emoji {
    width: 3rem;
    height: 3rem;
    display: inline-block;
  }
  .hero-image {
    margin: 0 -10rem 5rem;
    img {
      display: block;
      width: 100%;
    }
    @media screen and (max-width: $desktop) {
      margin: 0 -4rem 5rem;
    }
    @media screen and (max-width: 800px) {
      margin: 0 0 5rem;
    }
  }
  .caption-image {
    img {
      display: block;
      width: 100%;
    }
    em {
      display: block;
      text-align: center;
      margin-top: 10px;
      color: $gray-400;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    &::before {
      content: "#";
      color: #CCC;
      margin-right: 8px;
      margin-left: -20px;
      font-weight: 700;
    }
  }
  .center {
    text-align: center;
  }
}
