.cursor {
  @apply fixed;
  @apply w-16 h-16 rounded-full;
  @apply transform -translate-x-1/2 -translate-y-1/2;
  @apply pointer-events-none cursor-none;
  transition: all 150ms ease;
  z-index: 999;
}

.circle {
  @apply border-2 border-solid border-dark;
}

.hide {
  @apply hidden opacity-0;
}

.icon {
  @apply absolute;
  @apply top-1/2 left-1/2;
  @apply transform -translate-x-1/2 -translate-y-1/2;
}

.wave {
  animation: wave 0.84s linear infinite;
  transform-origin: right bottom;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(0deg);
  }
}
